annotated-types
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
fonttools
funcy
gensim
idna
Jinja2
joblib
kiwisolver
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
murmurhash
nltk
numexpr
numpy
packaging
pandas
pillow
preshed
pydantic
pydantic_core
Pygments
pyLDAvis
pyparsing
pyphen
python-dateutil
pytz
regex
requests
rich
scikit-learn
scipy
seaborn
setuptools
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
textblob
textstat
thinc
threadpoolctl
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
wordcloud
wrapt
